# Input dependencies for pip-compile
fastapi
uvicorn[standard]
python-telegram-bot
python-multipart
aiohttp
numpy
beautifulsoup4==4.8.2
pypdf
python-docx
striprtf
textract
odfpy
pillow
pandas
pyyaml
rarfile
black
flake8
pytest
